/* --------------- Main ---------------- */

/* --------------- Navbar ---------------- */
.navbar{
  position: sticky;
  top: 0;
  z-index: 4;
}
.navbar-center {
  grid-template-columns: 2rem auto 3rem;
}
.navbar-left{
  justify-self: center;
  display: grid;
  grid-template-rows: 18px 10px;
}
.navbar-logoIcon{
  justify-self: stretch;
  height: 18px;
  width: 18px;
}
.navbar-icon {
  justify-self: stretch;
  font-size: 0.8rem;
  cursor: pointer;
  color: var(--LightGreen);
}


/* --------------- End of Navbar ---------------- */

/* --------------- Sidebar ---------------- */
.navbar-overlaySideBar{
  z-index: 3;
}
.navbar-overlaySideBarContent{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--LightGreen);
  padding: 20px 30px;
  border: none;
  width: 80vw; /* Could be more or less, depending on screen size */
  max-width: 300px;
  padding-top: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-overlayBack{
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
  border: none;
  background: var(--LightGreen);
  font-size: 1.2rem;
  color: var(--DarkBlue);
  margin-top: 2vh;
}
.navbar-overlayBack:hover,
.navbar-overlayBack:focus{
  text-decoration: none;
  cursor: pointer;
}
.navbar-overlaySideBarList {
  list-style-type: none;
  height: 70vh;
}
.navbar-overlaySideBarLinks {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-overlaySideBarList li{
  margin-bottom: 5vh;
}
.navbar-overlaySideBarSocial{
  align-self: center;
  width: 70vw;
  max-width: 250px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: var(--DarkBlue);
}
/* --------------- End of Sidebar ---------------- */

.grid{
  display: grid;
  grid-template-rows: 12rem auto auto auto auto;
}

/* --------------- Hero ---------------- */
.hero {
  place-self: stretch;
  display: flex;
  background: url("./images/gemuese.jpg") center/cover no-repeat;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
}
.hero-bannerTitle {
  
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 0.5rem;
}

/* --------------- End of Hero ---------------- */
/* --------------- Searchbar ---------------- */
.searchNav-btnCont{
  width: 100%;
  max-width: 1170px;
  display: grid;
  padding: 0 1vw;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
  justify-content: space-around;
}
.searchNav-choice{
  min-width: 4.5rem;
  border-radius: var(--mainRoundCorner);
  background: var(--LightGreen);
  border: none;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin-top: 0.9rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--DarkBlue);
  text-align: center;
}
.searchNav-choice:hover{
  cursor: pointer;
  color: var(--LightGreen);
  background: var(--DarkBlue);
}
/* --------------- End of Searchbar ---------------- */
/* --------------- Farmers ---------------- */
.farmers-scrollable{
  margin-top: 0.9rem;
  height: 23rem;
  max-width: calc(var(--numberFarmers)*12.6rem + (1 + var(--numberFarmers) )*2rem + 0.0625rem);
  grid-template-columns: repeat(var(--numberFarmers), 12.6rem) 1px;
  margin-bottom: -50px; /* maximum width of scrollbar */
  padding-bottom: 50px; /* maximum width of scrollbar */
}
/* --------------- End of Farmers ---------------- */

/* --------------- Products ---------------- */
.products-background{
  background: var(--LightGreen);
  width: 100%;
  height: 14.2rem;
  position: absolute;
  top: 2.5rem;
}
.products-scrollable{
  margin-top: 0.9rem;
  background: none;
  max-width: calc(var(--numberProducts)*12.4rem + (2 + var(--numberProducts) - 1)*2rem + 0.0625rem);
  grid-template-columns: repeat(var(--numberProducts), 12.4rem) 1px;
  margin-bottom: -60px; /* maximum width of scrollbar */
  padding-bottom: 60px; /* maximum width of scrollbar */
}
.product-cart{
  padding-top: 0.9rem;
}
.product-tag{
  top:11.3rem;
}
/* --------------- End of Products ---------------- */

/* --------------- Footer ---------------- */
.footer{
  width: 100%;
  background: var(--LightBlue);
  border-radius: var(--imgRoundCorner) var(--imgRoundCorner) 0 0;
  text-align: center;
  padding-top: 2rem;
}
.footer-marketsBtn{
  color: var(--LightGreen);
  background: var(--LightBlue);
  border: none;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1.8rem;
  cursor: pointer;
}
.markets:hover{
  color: var(--DarkBlue);
}
.impressum{
  background: var(--LightGreen);
  border-radius: var(--imgRoundCorner) var(--imgRoundCorner) 0 0;
  padding-top: 1rem;
  text-align: right;
  padding-bottom: 0.7rem;
}
.impressum-center{
  max-width: 1170px;
}
.impressum-btn{
  border: none;
  background: var(--LightGreen);
  color: var(--DarkBlue);
  font-weight: bold;
  font-size: 0.7rem;
  padding-right: 1.5rem;
}
.impressum-btn:hover{
  color: var(--LightBlue);
}
/* Contact Form */
.dataConsent{
  display: inline-block;
  text-align: left;
  margin-bottom: 0.8rem;
}
.dataConsent span{
  font-size: 0.8rem; 
  color: var(--LightBlue);
  font-family: "Segoe UI";
  padding-left: 1rem;
}
.impressum-contactFormExclamation{
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--DarkBlue);
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}
.impressum-contactFormSocial{
  align-self: center;
  width: 80%;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: var(--LightBlue);
}

.impressum-logInForm button[type="submit"]{
  margin-top: 3vh;
}

/* --------------- End of Main ---------------- */